.root {
  pointer-events: none;

  .svg {
    position: fixed;
    image-rendering: auto;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;

    path {
      pointer-events: all;
    }
  }

  .nodes {
    pointer-events: all;
  }
}