.root {
  position: relative;

  .menuContainer {
    background: hsl(0deg 0% 15%);
    position: absolute;
    top: calc(100% + 4px);
    left: -2px;
    width: max-content;
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2px;
  }
}