.root {
  position: fixed;
  left: 4px;
  bottom: 4px;
  background: hsl(0deg 0% 20%);
  display: flex;
  padding: 4px;

  .basicInfo {
    display: flex;
    flex-direction: column;

    .row {
      display: flex;
      justify-content: space-between;
      gap: 2px;
    }
  }

  .advancedInfo {
    width: 175px;
    padding: 10px;

    input {
      width: 50px;
    }

    .hexInput {
      width: 70px;
      margin-left: 4px;
    }
  }
}